{{define "title"}}Article Created{{end}}

{{define "main"}}
    <h2>Article Created</h2>

    <div>
        <div>
            <label>Title:</label>
            <div>{{.Form.Title}}</div>
        </div>

        <div>
            <label>Body:</label>
            <div>{{.Form.Body}}</div>
        </div>
    </div>
{{end}}