{{define "title"}}Update Article{{end}}

{{define "main"}}
    <h2>Update Article</h2>

    <form action='/articles/edit/{{.Article.ID}}' method='POST'>
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>

        {{range .Form.ErrNonFields}}
            <div class='error'>{{.}}</div>
        {{end}}

        <div>
            <div>
                <label for="title">Title:</label>
            </div>
            <input type='text' name='title' value='{{if .Form.Title}}{{.Form.Title}}{{end}}'>
            {{if .Form.ErrFields.Title}}
                <div class='error'>{{index .Form.ErrFields.Title 0}}</div>
            {{end}}
        </div>

        <div>
            <div>
                <label for="body">Body:</label>
            </div>
            <textarea name='body'>{{if .Form.Body}}{{.Form.Body}}{{end}}</textarea>
            {{if .Form.ErrFields.Body}}
                <div class='error'>{{index .Form.ErrFields.Body 0}}</div>
            {{end}}
        </div>

        <div>
            <input type='submit' value='Submit'>
        </div>
    </form>
{{end}}